@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-md bg-gray-500;
    border-top-width: 3px;
    border-bottom-width: 3px;
  }

  /* */
  [data-theme="light"] *::-webkit-scrollbar-track {
    @apply bg-gray-100 py-1;
  }
  [data-theme="light"] *::-webkit-scrollbar-thumb {
    border: 1px solid #f3f4f6;
  }

  [data-theme="light"] .dropdown-scroll::-webkit-scrollbar-track {
    @apply bg-gray-300;
  }
  [data-theme="light"] .dropdown-scroll::-webkit-scrollbar-thumb {
    @apply border-[1px] border-gray-300;
  }

  /* */
  [data-theme="dark"] *::-webkit-scrollbar-track {
    background: #111827;
  }
  [data-theme="dark"] *::-webkit-scrollbar-thumb {
    border: 1px solid #111827;
  }

  [data-theme="dark"] .dropdown-scroll::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }
  [data-theme="dark"] .dropdown-scroll::-webkit-scrollbar-thumb {
    @apply border-[1px] border-gray-800;
  }

  /* */
  [data-theme="dark"] *::-moz-selection {
    /* Code for Firefox */
    @apply bg-maingreen-200 text-gray-800;
  }
  [data-theme="dark"] *::selection {
    @apply bg-maingreen-200 text-gray-800;
  }

  /* */
  [data-theme="light"] *::-moz-selection {
    /* Code for Firefox */
    @apply bg-maingreen-300 text-gray-100;
  }
  [data-theme="light"] *::selection {
    @apply bg-maingreen-300 text-gray-100;
  }
}

@layer components {
  .add-stroke {
    -webkit-text-stroke: 0.7px black;
  }

  .wel-footer-links {
    @apply cursor-pointer underline decoration-2 underline-offset-2 hover:text-maingreen-400 dark:hover:text-maingreen-100;
  }
}
